html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: rgb(5, 22, 137);
  background: linear-gradient(
    146deg,
    rgba(5, 22, 137, 1) 0%,
    rgba(94, 9, 121, 1) 66%
  );
}

.App {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
